/* CSS document */

body {
  padding-top: 40px;
  background-color: #D8D8D8;
}

.page-head {
  background-color: #1C1C1C;
  font-family: "Brush Script MT", cursive;
  font-weight: bold;
  font-size: 40px;
  color: white;
  margin-top: -40px;
  text-align: center;
  height: auto;
  width: 100%;
}

.form-head {
  font-family: "Brush Script MT", cursive;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}

.signup-form {
  max-width: 360px;
  padding: 25px;
  margin: 0 auto;
}

.signup-form .form-input {
  position: relative;
  height: auto;
  padding: 10px;
  font-size: 16px;
  border-radius: 5%;
  width: 100%;
}

.signup-form input[type="email"] {
  margin-bottom: 5px;
}
.signup-form input[type="name"] {
  margin-bottom: 5px;
}

.signup-form input[type="submit"] {
 background: #0000FF;
 font-family: "Brush Script MT", cursive;
 color: white;
 font-weight: bold;
 font-size: 20px;
 letter-spacing: 1px;
}
